USE [master]
GO
/****** Object:  Database [database of hydrological measurements]    Script Date: 21.05.2026 10:56:42 ******/
CREATE DATABASE [database of hydrological measurements]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'database of hydrological measurements', FILENAME = N'C:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\database of hydrological measurements.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'database of hydrological measurements_log', FILENAME = N'C:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\database of hydrological measurements_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [database of hydrological measurements].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [database of hydrological measurements]
GO
/****** Object:  Table [dbo].[EQUIPMENT_STATUSES]    Script Date: 21.05.2026 10:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPMENT_STATUSES](
	[equipment_status_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[equipment_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPMENT_TYPES]    Script Date: 21.05.2026 10:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPMENT_TYPES](
	[equipment_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[equipment_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPMENTS]    Script Date: 21.05.2026 10:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPMENTS](
	[equipment_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[equipment_type_id_FK] [int] NOT NULL,
	[last_calibration] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[hydropost_id_FK] [int] NULL,
	[equipment_status_id_FK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HYDROPOST_TYPES]    Script Date: 21.05.2026 10:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HYDROPOST_TYPES](
	[hydropost_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hydropost_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HYDROPOSTS]    Script Date: 21.05.2026 10:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HYDROPOSTS](
	[hydropost_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[hydropost_type_id_FK] [int] NOT NULL,
	[latitude] [decimal](10, 7) NOT NULL,
	[longtude] [decimal](10, 7) NOT NULL,
	[zero_water_level] [decimal](10, 3) NOT NULL,
	[manager_id_FK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hydropost_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEASUREMENTS]    Script Date: 21.05.2026 10:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEASUREMENTS](
	[measurements_id] [bigint] IDENTITY(1,1) NOT NULL,
	[water_level] [decimal](10, 3) NULL,
	[water_consumption] [decimal](10, 3) NULL,
	[water_temperature] [decimal](5, 2) NULL,
	[water_transparency] [decimal](5, 1) NULL,
	[ice_phenomena] [nvarchar](100) NULL,
	[area] [decimal](10, 3) NULL,
	[survey_line_id_FK] [int] NOT NULL,
	[project_id_FK] [int] NOT NULL,
	[measured_at] [datetime2](7) NOT NULL,
	[width] [decimal](10, 2) NULL,
	[equipment_id_FK] [int] NOT NULL,
	[person_id_FK] [int] NOT NULL,
	[comment] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[measurements_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON_ROLES]    Script Date: 21.05.2026 10:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON_ROLES](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONS]    Script Date: 21.05.2026 10:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONS](
	[person_id] [int] IDENTITY(1,1) NOT NULL,
	[last_name] [nvarchar](70) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[middle_name] [nvarchar](65) NULL,
	[login] [nvarchar](100) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[role_id_FK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECT_STATUSES]    Script Date: 21.05.2026 10:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT_STATUSES](
	[project_status_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[project_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTS]    Script Date: 21.05.2026 10:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTS](
	[project_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[client] [nvarchar](200) NOT NULL,
	[contractor_id_FK] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[purpose] [nvarchar](500) NULL,
	[elevation_system] [nvarchar](50) NULL,
	[status_id_FK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SURVEY_LINES]    Script Date: 21.05.2026 10:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SURVEY_LINES](
	[survey_line_id] [int] IDENTITY(1,1) NOT NULL,
	[hydropost_id_FK] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[distance_from_base] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[survey_line_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тип_материала]    Script Date: 21.05.2026 10:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип_материала](
	[Номер] [int] NOT NULL,
	[Тип материала] [nvarchar](255) NULL,
	[Процент брака материала ] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EQUIPMENT_STATUSES] ON 

INSERT [dbo].[EQUIPMENT_STATUSES] ([equipment_status_id], [name]) VALUES (2, N'В ремонте')
INSERT [dbo].[EQUIPMENT_STATUSES] ([equipment_status_id], [name]) VALUES (1, N'Исправен')
INSERT [dbo].[EQUIPMENT_STATUSES] ([equipment_status_id], [name]) VALUES (3, N'На калибровке')
SET IDENTITY_INSERT [dbo].[EQUIPMENT_STATUSES] OFF
GO
SET IDENTITY_INSERT [dbo].[EQUIPMENT_TYPES] ON 

INSERT [dbo].[EQUIPMENT_TYPES] ([equipment_type_id], [name]) VALUES (5, N'Ледомер')
INSERT [dbo].[EQUIPMENT_TYPES] ([equipment_type_id], [name]) VALUES (4, N'Мутнометр')
INSERT [dbo].[EQUIPMENT_TYPES] ([equipment_type_id], [name]) VALUES (2, N'Расходомер')
SET IDENTITY_INSERT [dbo].[EQUIPMENT_TYPES] OFF
GO
SET IDENTITY_INSERT [dbo].[EQUIPMENTS] ON 

INSERT [dbo].[EQUIPMENTS] ([equipment_id], [name], [description], [equipment_type_id_FK], [last_calibration], [created_at], [hydropost_id_FK], [equipment_status_id_FK]) VALUES (1, N'Ледомер-873', N'Серийный номер: 89587', 2, CAST(N'2025-10-16' AS Date), CAST(N'2025-02-01T10:28:09.1054716' AS DateTime2), 1, 4)
INSERT [dbo].[EQUIPMENTS] ([equipment_id], [name], [description], [equipment_type_id_FK], [last_calibration], [created_at], [hydropost_id_FK], [equipment_status_id_FK]) VALUES (2, N'Термометр-305', N'Серийный номер: 98685', 5, CAST(N'2026-03-30' AS Date), CAST(N'2025-12-27T10:28:09.1054888' AS DateTime2), 1, 4)
INSERT [dbo].[EQUIPMENTS] ([equipment_id], [name], [description], [equipment_type_id_FK], [last_calibration], [created_at], [hydropost_id_FK], [equipment_status_id_FK]) VALUES (3, N'Мутнометр-969', N'Серийный номер: 80388', 1, CAST(N'2025-08-16' AS Date), CAST(N'2024-09-24T10:28:09.1054894' AS DateTime2), 4, 2)
SET IDENTITY_INSERT [dbo].[EQUIPMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[HYDROPOST_TYPES] ON 

INSERT [dbo].[HYDROPOST_TYPES] ([hydropost_type_id], [name]) VALUES (3, N'Водохранилищный')
INSERT [dbo].[HYDROPOST_TYPES] ([hydropost_type_id], [name]) VALUES (4, N'Морской')
INSERT [dbo].[HYDROPOST_TYPES] ([hydropost_type_id], [name]) VALUES (2, N'Озерный')
SET IDENTITY_INSERT [dbo].[HYDROPOST_TYPES] OFF
GO
SET IDENTITY_INSERT [dbo].[HYDROPOSTS] ON 

INSERT [dbo].[HYDROPOSTS] ([hydropost_id], [name], [description], [hydropost_type_id_FK], [latitude], [longtude], [zero_water_level], [manager_id_FK]) VALUES (1, N'р. Дон у г. Воронежа 1', N'Равнинный участок', 4, CAST(68.8920858 AS Decimal(10, 7)), CAST(81.1426725 AS Decimal(10, 7)), CAST(329.000 AS Decimal(10, 3)), 7)
INSERT [dbo].[HYDROPOSTS] ([hydropost_id], [name], [description], [hydropost_type_id_FK], [latitude], [longtude], [zero_water_level], [manager_id_FK]) VALUES (2, N'р. Ока у г. Калуги 2', N'В труднодоступной местности', 3, CAST(56.4564937 AS Decimal(10, 7)), CAST(79.9823026 AS Decimal(10, 7)), CAST(85.000 AS Decimal(10, 3)), 21)
INSERT [dbo].[HYDROPOSTS] ([hydropost_id], [name], [description], [hydropost_type_id_FK], [latitude], [longtude], [zero_water_level], [manager_id_FK]) VALUES (3, N'р. Енисей у г. Красноярска 3', N'Вблизи населенного пункта', 1, CAST(62.1419501 AS Decimal(10, 7)), CAST(70.2136405 AS Decimal(10, 7)), CAST(67.000 AS Decimal(10, 3)), 34)
SET IDENTITY_INSERT [dbo].[HYDROPOSTS] OFF
GO
SET IDENTITY_INSERT [dbo].[MEASUREMENTS] ON 

INSERT [dbo].[MEASUREMENTS] ([measurements_id], [water_level], [water_consumption], [water_temperature], [water_transparency], [ice_phenomena], [area], [survey_line_id_FK], [project_id_FK], [measured_at], [width], [equipment_id_FK], [person_id_FK], [comment]) VALUES (1, CAST(120.689 AS Decimal(10, 3)), CAST(119.043 AS Decimal(10, 3)), CAST(12.04 AS Decimal(5, 2)), CAST(0.9 AS Decimal(5, 1)), N'Нет', CAST(296.462 AS Decimal(10, 3)), 15, 1, CAST(N'2025-09-07T00:00:00.0000000' AS DateTime2), CAST(205.38 AS Decimal(10, 2)), 4, 12, NULL)
INSERT [dbo].[MEASUREMENTS] ([measurements_id], [water_level], [water_consumption], [water_temperature], [water_transparency], [ice_phenomena], [area], [survey_line_id_FK], [project_id_FK], [measured_at], [width], [equipment_id_FK], [person_id_FK], [comment]) VALUES (2, CAST(118.893 AS Decimal(10, 3)), CAST(98.046 AS Decimal(10, 3)), CAST(1.81 AS Decimal(5, 2)), CAST(2.5 AS Decimal(5, 1)), N'Забереги', CAST(541.579 AS Decimal(10, 3)), 21, 1, CAST(N'2025-01-27T00:00:00.0000000' AS DateTime2), CAST(143.13 AS Decimal(10, 2)), 8, 23, NULL)
INSERT [dbo].[MEASUREMENTS] ([measurements_id], [water_level], [water_consumption], [water_temperature], [water_transparency], [ice_phenomena], [area], [survey_line_id_FK], [project_id_FK], [measured_at], [width], [equipment_id_FK], [person_id_FK], [comment]) VALUES (3, CAST(110.460 AS Decimal(10, 3)), CAST(53.119 AS Decimal(10, 3)), CAST(1.95 AS Decimal(5, 2)), CAST(2.2 AS Decimal(5, 1)), N'Нет', CAST(459.681 AS Decimal(10, 3)), 14, 1, CAST(N'2024-12-20T00:00:00.0000000' AS DateTime2), CAST(87.82 AS Decimal(10, 2)), 4, 20, NULL)
GO
SET IDENTITY_INSERT [dbo].[MEASUREMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSON_ROLES] ON 

INSERT [dbo].[PERSON_ROLES] ([role_id], [name]) VALUES (1, N'Администратор')
INSERT [dbo].[PERSON_ROLES] ([role_id], [name]) VALUES (3, N'Гидролог')
INSERT [dbo].[PERSON_ROLES] ([role_id], [name]) VALUES (2, N'Менеджер')
SET IDENTITY_INSERT [dbo].[PERSON_ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONS] ON 

INSERT [dbo].[PERSONS] ([person_id], [last_name], [first_name], [middle_name], [login], [password], [created_at], [role_id_FK]) VALUES (1, N'Администратор', N'Системы', N'Главный', N'admin', N'admin', CAST(N'2026-05-21T10:27:51.5836661' AS DateTime2), 1)
INSERT [dbo].[PERSONS] ([person_id], [last_name], [first_name], [middle_name], [login], [password], [created_at], [role_id_FK]) VALUES (2, N'Смирнов', N'Алексей', N'Максимовна', N'smirnov.а9584', N'password123', CAST(N'2024-07-17T10:28:08.9367803' AS DateTime2), 3)
INSERT [dbo].[PERSONS] ([person_id], [last_name], [first_name], [middle_name], [login], [password], [created_at], [role_id_FK]) VALUES (3, N'Михайлов', N'Алексей', N'Максимовна', N'mikhaylov.а376', N'password123', CAST(N'2024-05-29T10:28:08.9369032' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[PERSONS] OFF
GO
SET IDENTITY_INSERT [dbo].[PROJECT_STATUSES] ON 

INSERT [dbo].[PROJECT_STATUSES] ([project_status_id], [name]) VALUES (2, N'Активный')
INSERT [dbo].[PROJECT_STATUSES] ([project_status_id], [name]) VALUES (4, N'Завершен')
INSERT [dbo].[PROJECT_STATUSES] ([project_status_id], [name]) VALUES (1, N'Планируется')
SET IDENTITY_INSERT [dbo].[PROJECT_STATUSES] OFF
GO
SET IDENTITY_INSERT [dbo].[PROJECTS] ON 

INSERT [dbo].[PROJECTS] ([project_id], [name], [client], [contractor_id_FK], [start_date], [end_date], [purpose], [elevation_system], [status_id_FK]) VALUES (1, N'Пр. Изучение гидрол-082b', N'МЧС России', 37, CAST(N'2024-11-21' AS Date), CAST(N'2025-10-21' AS Date), N'Разработка водохозяйственного баланса', N'Балтийская', 1)
INSERT [dbo].[PROJECTS] ([project_id], [name], [client], [contractor_id_FK], [start_date], [end_date], [purpose], [elevation_system], [status_id_FK]) VALUES (2, N'Пр. Прогнозирование-28f4', N'Росводресурсы', 7, CAST(N'2025-04-21' AS Date), CAST(N'2025-08-21' AS Date), N'Оценка антропогенного воздействия', N'Балтийская', 1)
INSERT [dbo].[PROJECTS] ([project_id], [name], [client], [contractor_id_FK], [start_date], [end_date], [purpose], [elevation_system], [status_id_FK]) VALUES (3, N'Пр. Изучение гидрол-5a06', N'Администрация области', 37, CAST(N'2025-12-21' AS Date), CAST(N'2026-06-21' AS Date), N'Мониторинг уровня воды', N'Балтийская', 2)
SET IDENTITY_INSERT [dbo].[PROJECTS] OFF
GO
SET IDENTITY_INSERT [dbo].[SURVEY_LINES] ON 

INSERT [dbo].[SURVEY_LINES] ([survey_line_id], [hydropost_id_FK], [name], [distance_from_base]) VALUES (1, 1, N'Контрольный створ 1', CAST(1123.27 AS Decimal(10, 2)))
INSERT [dbo].[SURVEY_LINES] ([survey_line_id], [hydropost_id_FK], [name], [distance_from_base]) VALUES (2, 1, N'Верхний створ 2', CAST(3810.90 AS Decimal(10, 2)))
INSERT [dbo].[SURVEY_LINES] ([survey_line_id], [hydropost_id_FK], [name], [distance_from_base]) VALUES (3, 1, N'Основной створ 3', CAST(38.31 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SURVEY_LINES] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EQUIPMEN__72E12F1B7430A684]    Script Date: 21.05.2026 10:56:43 ******/
ALTER TABLE [dbo].[EQUIPMENT_STATUSES] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EQUIPMEN__72E12F1BD4C9C701]    Script Date: 21.05.2026 10:56:43 ******/
ALTER TABLE [dbo].[EQUIPMENT_TYPES] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HYDROPOS__72E12F1B9A473E1F]    Script Date: 21.05.2026 10:56:43 ******/
ALTER TABLE [dbo].[HYDROPOST_TYPES] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HYDROPOS__72E12F1BCFFDA546]    Script Date: 21.05.2026 10:56:43 ******/
ALTER TABLE [dbo].[HYDROPOSTS] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_HYDROPOSTS_MANAGER]    Script Date: 21.05.2026 10:56:43 ******/
ALTER TABLE [dbo].[HYDROPOSTS] ADD  CONSTRAINT [UQ_HYDROPOSTS_MANAGER] UNIQUE NONCLUSTERED 
(
	[manager_id_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PERSON_R__72E12F1B9E5659FB]    Script Date: 21.05.2026 10:56:43 ******/
ALTER TABLE [dbo].[PERSON_ROLES] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PERSONS__7838F27220EB01A1]    Script Date: 21.05.2026 10:56:43 ******/
ALTER TABLE [dbo].[PERSONS] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PROJECT___72E12F1B4D585379]    Script Date: 21.05.2026 10:56:43 ******/
ALTER TABLE [dbo].[PROJECT_STATUSES] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PROJECTS__72E12F1B396886D7]    Script Date: 21.05.2026 10:56:43 ******/
ALTER TABLE [dbo].[PROJECTS] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SURVEY_LINES_HYDROPOST]    Script Date: 21.05.2026 10:56:43 ******/
ALTER TABLE [dbo].[SURVEY_LINES] ADD  CONSTRAINT [UQ_SURVEY_LINES_HYDROPOST] UNIQUE NONCLUSTERED 
(
	[hydropost_id_FK] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EQUIPMENTS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PERSONS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[EQUIPMENTS]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPMENTS_HYDROPOSTS] FOREIGN KEY([hydropost_id_FK])
REFERENCES [dbo].[HYDROPOSTS] ([hydropost_id])
GO
ALTER TABLE [dbo].[EQUIPMENTS] CHECK CONSTRAINT [FK_EQUIPMENTS_HYDROPOSTS]
GO
ALTER TABLE [dbo].[EQUIPMENTS]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPMENTS_STATUS] FOREIGN KEY([equipment_status_id_FK])
REFERENCES [dbo].[EQUIPMENT_STATUSES] ([equipment_status_id])
GO
ALTER TABLE [dbo].[EQUIPMENTS] CHECK CONSTRAINT [FK_EQUIPMENTS_STATUS]
GO
ALTER TABLE [dbo].[EQUIPMENTS]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPMENTS_TYPES] FOREIGN KEY([equipment_type_id_FK])
REFERENCES [dbo].[EQUIPMENT_TYPES] ([equipment_type_id])
GO
ALTER TABLE [dbo].[EQUIPMENTS] CHECK CONSTRAINT [FK_EQUIPMENTS_TYPES]
GO
ALTER TABLE [dbo].[HYDROPOSTS]  WITH CHECK ADD  CONSTRAINT [FK_HYDROPOSTS_PERSONS] FOREIGN KEY([manager_id_FK])
REFERENCES [dbo].[PERSONS] ([person_id])
GO
ALTER TABLE [dbo].[HYDROPOSTS] CHECK CONSTRAINT [FK_HYDROPOSTS_PERSONS]
GO
ALTER TABLE [dbo].[HYDROPOSTS]  WITH CHECK ADD  CONSTRAINT [FK_HYDROPOSTS_TYPES] FOREIGN KEY([hydropost_type_id_FK])
REFERENCES [dbo].[HYDROPOST_TYPES] ([hydropost_type_id])
GO
ALTER TABLE [dbo].[HYDROPOSTS] CHECK CONSTRAINT [FK_HYDROPOSTS_TYPES]
GO
ALTER TABLE [dbo].[MEASUREMENTS]  WITH CHECK ADD  CONSTRAINT [FK_MEASUREMENTS_EQUIPMENTS] FOREIGN KEY([equipment_id_FK])
REFERENCES [dbo].[EQUIPMENTS] ([equipment_id])
GO
ALTER TABLE [dbo].[MEASUREMENTS] CHECK CONSTRAINT [FK_MEASUREMENTS_EQUIPMENTS]
GO
ALTER TABLE [dbo].[MEASUREMENTS]  WITH CHECK ADD  CONSTRAINT [FK_MEASUREMENTS_PERSONS] FOREIGN KEY([person_id_FK])
REFERENCES [dbo].[PERSONS] ([person_id])
GO
ALTER TABLE [dbo].[MEASUREMENTS] CHECK CONSTRAINT [FK_MEASUREMENTS_PERSONS]
GO
ALTER TABLE [dbo].[MEASUREMENTS]  WITH CHECK ADD  CONSTRAINT [FK_MEASUREMENTS_PROJECTS] FOREIGN KEY([project_id_FK])
REFERENCES [dbo].[PROJECTS] ([project_id])
GO
ALTER TABLE [dbo].[MEASUREMENTS] CHECK CONSTRAINT [FK_MEASUREMENTS_PROJECTS]
GO
ALTER TABLE [dbo].[MEASUREMENTS]  WITH CHECK ADD  CONSTRAINT [FK_MEASUREMENTS_SURVEY_LINES] FOREIGN KEY([survey_line_id_FK])
REFERENCES [dbo].[SURVEY_LINES] ([survey_line_id])
GO
ALTER TABLE [dbo].[MEASUREMENTS] CHECK CONSTRAINT [FK_MEASUREMENTS_SURVEY_LINES]
GO
ALTER TABLE [dbo].[PERSONS]  WITH CHECK ADD  CONSTRAINT [FK_PERSONS_ROLES] FOREIGN KEY([role_id_FK])
REFERENCES [dbo].[PERSON_ROLES] ([role_id])
GO
ALTER TABLE [dbo].[PERSONS] CHECK CONSTRAINT [FK_PERSONS_ROLES]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_MANAGER] FOREIGN KEY([contractor_id_FK])
REFERENCES [dbo].[PERSONS] ([person_id])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_MANAGER]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_STATUS] FOREIGN KEY([status_id_FK])
REFERENCES [dbo].[PROJECT_STATUSES] ([project_status_id])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_STATUS]
GO
ALTER TABLE [dbo].[SURVEY_LINES]  WITH CHECK ADD  CONSTRAINT [FK_SURVEY_LINES_HYDROPOSTS] FOREIGN KEY([hydropost_id_FK])
REFERENCES [dbo].[HYDROPOSTS] ([hydropost_id])
GO
ALTER TABLE [dbo].[SURVEY_LINES] CHECK CONSTRAINT [FK_SURVEY_LINES_HYDROPOSTS]
GO
USE [master]
GO
